---
import { Icon } from "astro-icon/components";

/**
	Uses https://www.astroicon.dev/getting-started/
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
	download?: boolean;
}[] = [
	{
		friendlyName: "Github",
		// Github profile for Ayush Kedia
		link: "https://github.com/gcckd01", //
		name: "mdi:github",
	},
	{
		friendlyName: "LinkedIn",
		// LinkedIn profile for Ayush Kedia
		link: "https://www.linkedin.com/in/ayush-kedia-92813824a/",//
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Download Resume",
		// Download link for Ayush Kedia's resume
		link: "/resume.pdf", //
		name: "mdi:file-document-outline",
		download: true,
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name, download }) => (
				<li class="flex">
					<a
						<a
           class="inline-block p-1 sm:hover:text-link"
           href={link}
           target="_blank"
           rel="noopener noreferrer"
           download={download ? "" : undefined}
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
